  
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
 *{
    box-sizing: border-box;

 }
 :root{
    --primary-color:white;
    --secondry-color:white;
 }
 body{
    background-color: var(--primary-color);
    font-family: 'poppins',sans-serif;
    margin:0;
 }
 header{
    padding: 1rem;
    display:flex;
    justify-content: space-between;
    
    
    
    background-color: var(--secondry-color);
 }
 section{
   display: flex;
   background-color: var(--secondry-color);
   
 }
 header img{
    width :55px;
    height: 55px;
    border-radius: 5px;
 }
  h2{
    display: inline;
   
  }
  
 .search{
    background-color: transparent;
    border: 2px solid  black;
   padding:0.5rem 1rem;
   border-radius: 50px;
   font-size:1rem;
   color:black;
   font-family: inherit;
 }
 .search.focus{
    outline:0;
    
    border: 10px;

 }
 .search::placeholder{
    color: hwb(187 7% 53%);
 }
 main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 .movie{
    width: 350px;
    margin:1rem;
    border-radius:3px;
    background-color:var(--secondry-color);
    position: relative;
    overflow:hidden;
    box-shadow: 0 0 2px 0;
    
 }
 .movie img{
    width:350px;
    height: 400px;
 }
 .movie_info{
    color:lightcyan;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
 }
 .movie_info h3{
    margin-top: 0;
    margin-left: 0;
    color: rgb(237, 100, 159);
 }
  
 
 .overview{
    position: absolute;
    left: 0;
    right:0;
    bottom:0;
    background-color:black ;
    padding:1rem;
    max-height:100%;
    color: whitesmoke;
    transform: translateY(101%);
    
    transition: transform 0.3s ease-in;

 }
  
 .movie:hover .overview{
    transform: translateY(0);
 }
 div.about a{
    display: block;
     
    text-decoration: none;
    
    
    
 }
 div.about{
    line-height: 225%;
    font-weight: 500;
      
 }
  
  hr{
   position: relative;
   top: 10px;
    margin: 0 0 0 0;
     font-weight: bold;
  }
  .submit{
    box-shadow: 0 1px 1px 0;
    font-weight: bold;

  }
  h2{
    position:absolute;
    top: 10px;
    left:100px;
  }
  button{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.719);
    width: 150px;
    height: 30px;
    border-radius: 5px;
    position: inherit;
     

  }
  .submit{
   position: inherit;
   
  }
  .search_logo{

   height: 40px;
   position: inherit; 
  }
  header.top{
    padding-bottom: 0%;
    flex-wrap: wrap;
  }
    .home{
        top:0%;
         background-color: rgba(0, 0, 0, 0.662);
    
    }
 a:active{
         color:blue;
       }
       a:hover{
         color: aqua;
       }
       a{
         color: black;
       }
  
       
  
